GROQ_API_KEY=
GITHUB_WEBHOOK_SECRET=
GITHUB_TOKEN=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=auto-reviewer
SUPABASE_URL=
SUPABASE_KEY=
AUTOREVIEW_FEEDBACK_SECRET=
HF_HUB_DISABLE_SYMLINKS_WARNING=1
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=auto-reviewer